body{
    font-family: "Aboreto-Regular";
    margin: 0;
    h2{
        font-size: 3.0rem;
        color: white;
    }
    h1{ font-size: 3.5em;
    }
    nav{
        text-align: center;
    }
    p{
        font-family: "ShadowsIntoLight-Regular";
        font-size: 1.5rem;
    }
}