.cocinas{
    background-image: url(../assets/imagenes/fondos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    
    .carou{
        width: 100%;
        display: flex;
        padding: 0.1rem;
        flex-wrap: wrap;
    }
    
}
.menucocina{
    text-align: center;
    color: black;
}